<ul id="menu">
	<li><%= render 'banner' %></li>
	<li><a href="/empire">Back to the Dwarven Empire</a></li>
</ul>:

<div class="title_page">
	<h1>Zhufbar</h1>
</div>

<%= image_tag("zhufbar.png", :class => "leftsidepicture-with-background") %> <%= image_tag("zhufbar-map.jpg", :class => "rightsidepicture", style:"height:250px") %>

<% @articles.each do |article| %>
	<% if article.title == "zhufbar pt.1" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "zhufbar pt.2" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "zhufbar pt.3" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<%= render 'banner' %>