<html>
<body>
<%= render 'banner' %>
	<div class="title_page">
		Welcome to the great Karaz Ankor, the everlasting realm of the dwarven empire!
	</div>
	<div class="wrap">
		<ul id="menu">
			<li><a href="/society">Dwarven Society</a></li>
			<li><a href="/history">History of the Dwarfs</a></li>
			<li><a href="/empire">The Karaz Ankor</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</div>
	<br><br>
	<br><br>
	<%= image_tag("longbeards.jpg", :class => "homepage-leftsidepicture") %>	
	​<%= image_tag("dwarf army.jpg", :class => "homepage-centerpicture") %>
	<%= image_tag("The_Slayer_King.png", :class => "homepage-rightsidepicture", onclick:"download()") %>
	

<% if notice %>
	<script>
		setTimeout(location.reload.bind(location), 8000);
	</script>
<% end %>
<%= render 'banner' %>

<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>         
<% end %>

<script>
function download() {
	 alert("Download this image in png format!");
}
</script>

</body>
</html>