<%= render :template => 'q1s1d/index' %>

<div id="2">
	<center>
		<h2>
			<div id="fade">
                                <p class="chapter-title">When the kids come home</p>
                                <br>
				<% @articles.each do |article| %>
					<% if article.title == "quest1 section 2 pt.1" %> 
						<p>
							<%= article.text %>
						</p>
					<% end %>
				<% end %>
				<br>
				<% @articles.each do |article| %>
                                        <% if article.title == "quest1 section 2 pt.2" %>
                                                <p>
                                                        <%= article.text %>
                                                </p>
                                        <% end %>
                                <% end %>
                                <br>
                                <% @articles.each do |article| %>
                                        <% if article.title == "quest1 section 2 pt.3" %>
                                                <p>
                                                        <%= article.text %>
                                                </p>
                                        <% end %>
                                <% end %>
                                <br>
                                <% @articles.each do |article| %>
                                        <% if article.title == "quest1 section 2 pt.4" %>
                                                <p>
                                                        <%= article.text %>
                                                </p>
                                        <% end %>
                                <% end %>
                                <br>
                                <% @articles.each do |article| %>
					<% if article.title == "quest1 section 2 pt.4a" %> 
						<p>
							<%= article.text %>
						</p>
					<% end %>
				<% end %>
				<br>
				<% if @user_input_sub1d == "2a" %>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 2 pt.5" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 2 pt.6" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 2 pt.7" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 2 pt.8" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 2 pt.9" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 2 pt.10" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 2 pt.11" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 2 pt.12" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 2 pt.13" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 2 pt.14" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 2 pt.15" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
					<% segment_sub2 = 1 %>
				<% elsif @user_input_sub1d == "2b" %>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 2b" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<%= "You have failed!" %>
					<br><br>
					<%= render 'q1/restart' %>
					<br>
				<% end %>
				<% if segment_sub2 == 1 %>
					<% if not ( @url.include?('2a1') or @url.include?('2a2')) %>
						<%= "1. Hide in the backroom" %>
						<br><br>
						<%= "2. Fight the minotaurs" %>
						<br><br>
						<%= form_for("pathfinder/a/q1/#{@user_input}/q1s1/#{@user_input_sub1}/"\
								"q1sub1a/{@user_input_sub1a}/q1s1b/#{@user_input_sub1b}/q1s1c"\
								"#{@user_input_sub1c}/q1s1d/#{@user_input_sub1d}/q1s2"\
								, method: :post) do %>
							<%= label_tag(:section_sub2_input, "Please choose a path:") %>
							<%= text_field_tag :section_sub2_input, @response_sub2, maxlength:1 %>
							<%= submit_tag "Submit", :id => "submit", 'data-disable-with' => "Please wait.." %>
						<% end %>
						<br>
					<% end %>
				<% end %>
			</div>
		</h2>
	</center>
</div>
