<% @url = request.original_fullpath %>
<%= render 'q1/menu' %>
<div id="top">
</div>

<script type="text/javascript">
	function preback(){window.history.forward();}
	setTimeout("preback()",0);
	window.onunload=function(){null};
</script>

<% segment_sub_1a = 0 %>
<center>
	<h2>
		<div id="fade">
			<% @articles.each do |article| %>
				<% if article.title == "quest1 intro pt.1" %>
					<p>
						<%= article.text %>
					</p>
				<% end %>
			<% end %>
			<br>
			<% @articles.each do |article| %>
				<% if article.title == "quest1 intro pt.2" %> 
					<p>
						<%= article.text %>
					</p>
				<% end %>
			<% end %>
			<br>
			<% @articles.each do |article| %>
				<% if article.title == "quest1 intro pt.3" %> 
					<p>
						<%= article.text %>
					</p>
				<% end %>
			<% end %>
			<br>
		</div>
	</h2>
</center>

<% if not (@url.include?('/1a') or @url.include?('/1b') or @url.include?('/1c')) %>
	<center>
		<h2>
			<div id="fade">
				<%= "1. Climb down to the rope fastened on the side of the staircase" %>
				<br><br>
				<%= "2. Willingly jump to grab the rope from the staircase" %>
				<br><br>
				<%= "3. Walk to the courtyard and request to speak with the High King" %>
				<br><br>

				<%= form_for("/pathfinder/a/quest1", method: :post) do %>
					<%= label_tag(:section_1_input, "Please choose a path:") %>
					<%= text_field_tag :section_1_input, @response, maxlength:1 %>
					<%= hidden_field_tag :climb, params.fetch(:climb, '') %>
					<%= hidden_field_tag :fall_outcome, params.fetch(:fall_outcome, '') %>
					<%= submit_tag "Submit", :id => "submit", 'data-disable-with' => "Please wait.." %>
				<% end %>
				<br>
			</div>
		</h2>
	</center>
<% end %> 

<% if @user_input == "1a" %>
	<div id="1a">
		<center>
			<h2>
				<div id="fade">
					<%= "Klarkel grabs on to the lose marble blocks, slowly climbing down to the statue." %>
					<br><br>
					<% if $climb.between?(1, 10) %>
						<%= "As he lowers himself on the side of the brick staircase, Klarkel misplaces his footing on a damp stone making him lose his grip and fall." %>
						<br><br>
						<% if $fall_outcome.between?(1, 10) %>
							<%= "By some ludricus miracle Klarkel managed to grab the rope upon his descent. Feeling the recoil of the rope throughout his body, he is thrown up and down vigorously." %>
							<br><br>
							<%= "Mustering all of his strength, our friend manages to reach the top of the statue." %>
							<br><br>
							<% @articles.each do |article| %>
								<% if article.title == "quest1 section 1 pt.1" %> 
									<p>
										<%= article.text %></h2>
									</p>
								<% end %>
							<% end %>
							<br>
							<% @segment_sub_1a = 1 %>
						<% else%>
							<%= "Klarkel plummets to his death" %>
							<br><br>
							<%= "You have failed!" %>
							<br><br>
							<%= render 'q1/restart' %>
							<br>
							<%= render 'homepage/banner' %>
						<% end %>
					<% else %>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 1 pt.1" %> 
								<p>
									<%= article.text %></h2>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @segment_sub_1a = 1 %>
					<% end %>
				</div>
			</h2>
		</center>
	</div>

<% elsif @user_input == "1b" %>	
	<div id="1b">
		<center>
			<h2>
				<div id="fade">
					<% if $fall_outcome.between?(1, 95) %>
						<%= "Taking a dangerous leap of faith, the moronic dwarf jumps over the edge." %>
						<br><br>
						<%= "Klarkel plummets to his death" %>
						<br><br>
						<%= "You have failed!" %>
						<br><br>
						<%= render 'q1/restart' %>
						<br>
						<%= render 'homepage/banner' %>
					<% else %>
						<%= "Taking a dangerous leap of faith, the moronic dwarf jumps over the edge." %>
						<br><br>
						<%= "By some ludricus miracle Klarkel managed to grab the rope upon his descent. Feeling "\
						"the recoil of the rope spring throughout his body, he is thrown up and down vigorously." %>
						<br><br>
						<%= "Mustering all of his strength, our friend manages to reach the top of the statue." %>
						<br><br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 1 pt.1" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @segment_sub_1a = 1 %>
					<% end %>
				</div>
			</h2>
		</center>
	</div>	
	
<% elsif @user_input == "1c" %>

	<div id="1c">	
		<center>
			<h2>
				<div id="fade">
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 1 pt.1ca" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 1 pt.1cb" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<%= "You have failed!" %>
					<br><br>
					<%= render 'q1/restart' %>
				</div>
			</h2>
		</center>	
	</div>	
<% end %>