<ul id="menu">
	<li><%= render 'homepage/banner' %></li>
	<li><a href="/empire#lost-hold">Back to the Dwarven Empire</a></li>
</ul>:

<div class="title_page">
	<h1>Karag Agilwutraz</h1>
</div>

<%= image_tag("lost-dwarfhold-banner.png", :class => "leftsidepicture-with-background", style:"border-right: 10px solid #F0DAF2") %> 
<%= image_tag("silver.jpg", :class => "rightsidepicture", style:"height:210px; border-left: 10px solid #F0DAF2") %>

<% @articles.each do |article| %>
	<% if article.title == "agilwutraz pt.1" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "agilwutraz pt.2" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<div class="banner-bottom">
	<%= render 'homepage/banner' %>
</div>