<% if current_user.admin? %>

<%= render 'banner' %>
	
	<h1>Listing articles</h1>
	
	<% about = 1 %>	<% izor = 16 %>
	<% agilwutraz = 2 %><% kadrin = 17 %>
	<% azgal =  3 %><% language = 18 %>
	<% azul =  4 %>	<% magic = 19 %>
	<% capital =  5 %><% military = 20 %>
	<% diplomacy =  6 %><% norn = 21 %>
	<% drak =  7 %><% peaks = 22 %>
	<% drazh =  8 %><% prominent = 23 %>
	<% economy =  9 %><% religion = 24 %>
	<% ekrund =  10 %><% social = 25 %>
	<% government =  11 %><% ungor = 26 %>
	<% guild = 12 %><% varn = 27 %>
	<% gunbad = 13 %><% varr = 28 %>
	<% hirn = 14 %><% vlag = 29 %>
	<% history = 15 %><% zhufbar = 30 %>
	
	<table>
		<tr>
			<th>Title</th>
			<th>Text</th>
		</tr>
		<% @articles.each do |article| %>
			<tr>
				<% if article.user_id == about%>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == agilwutraz %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == azgal %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == azul %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == capital %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == diplomacy %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == drak %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == drazh %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == economy %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == ekrund %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == government %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == guild %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == gunbad %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == hirn %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == history %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == izor %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == kadrin %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == language %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == magic %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == military %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == norn %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == peaks %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == prominent %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == religion %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == social %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == ungor %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == varn %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == varr %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == vlag %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
				<% if article.user_id == zhufbar %>
					<td><%= article.title %></td>
					<td><%= article.text %></td>
					<% if current_user.admin? %>
						<td><%= link_to 'Show', article_path(article) %></td>
						<td><%= link_to 'Edit', edit_article_path(article) %></td>
						<td><%= link_to 'Destroy', article_path(article),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete this article?' } %></td>
					<% end %>
				<% end %>
				
			</tr>
		<% end %>
		<%= link_to 'Create a new article', new_article_url %>
	</table>

<%= render 'banner' %>	
<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>         
<% end %>

<% else %>
<%= render 'banner' %>
<div class="title_page">
	<h1><%= link_to 'Access Denied! Please return to the Homepage', root_path %></h1>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<%= render 'banner' %>
<% end %>