<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script type=text/javascript>
	function articleFinder(){
		var article = document.getElementById("search").value;
		window.find(article);
	}
	function scrollTop(){
		window.scrollTo(0);
	}
</script>


<% javascript_tag do %>
	window.current_title
<% end %>

<div id="top"></div>

<% if current_user.admin? %>

	<%= render 'homepage/banner' %>
	
	<h1>Listing articles</h1>
	
	<center>
		<div class="search-container">
			<input type="text" placeholder="Find an article" id="search" name="search" value="" maxlength="40">
			<input type="submit" id="submit" onclick="articleFinder();" value="Search" />
		</div>
	</center>
	
	<table>
		<tr>
			<th>Title</th>
			<th>Text</th>
		</tr>
		
		<% @articles.each do |article| %>
			<tr>
				<td><%= article.title %></td>
				<% @current_title = article.title %>
				<td><%= article.text %></td>
				<td><%= link_to 'Show', article_path(article), id: "submit" %></td>
				<td><%= link_to 'Edit', edit_article_path(article), id: "submit" %></td>
				<td><%= link_to 'Delete', article_path(article), id: "submit",
						method: :delete, data: { confirm: "Are you sure you want to delete #{ @current_title }?" }%></td>
				<td><a href=#top id="submit">Top</a></td>
			</tr>
		<% end %>
		
		
		
		&nbsp;<%= link_to 'Create a new article', new_article_url, id: "submit" %>
	</table>
	<%= render 'homepage/banner' %>
<% end %>	
<% if user_signed_in? %>
  &nbsp;<%= link_to('Logout', destroy_user_session_path, method: :delete, id: "submit") %>         
<% end %>

<% if notice %>
	<script>
		setTimeout(location.reload.bind(location), 8000);
	</script>
<% end %>