<%= render :template => 'q1s3/index' %>

<div id="3b">
	<div id="fade">
		<h2>
			<% if @user_input_sub3 == "3b1" %>
				<center>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 3b1 pt.1" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 3b1 pt.2" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 3b1 pt.3" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 3b1 pt.4" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 3b1 pt.5" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
					<% segment_4 = 1 %>
				</center>
			<% elsif @user_input_sub3 == "3b2" %>
				<center>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 3b2 pt.1" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<%= "You have failed!" %>
					<br><br>
					<%= render 'q1/restart' %>
				</center>
			<% end %>
			<% if segment_4 == 1 %>
				<center>	
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 4 pt.1" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 4 pt.2" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 4 pt.3" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 4 pt.4" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 4 pt.5" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
					<% if @user_input_sub1a == "1b1"%>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 slayer pt.1" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 slayer pt.2" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 slayer pt.3" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 slayer pt.4" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 slayer pt.5" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 slayer pt.6" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 slayer pt.7" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 slayer pt.8" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 slayer pt.9" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 slayer pt.10" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
                                                <% @articles.each do |article| %>
                                                        <% if article.title == "quest1 secton 4 slayer pt.11" %>
                                                                <p>
                                                                        <%= article.text %>
                                                                </p>
                                                        <% end %>
                                                <% end %>
                                                <br>
                                                <% @articles.each do |article| %>
                                                        <% if article.title == "quest1 section 4 slayer pt.12" %>
                                                                <p>
                                                                        <%= article.text %>
                                                                </p>
                                                        <% end %>
                                                <% end %>
                                                <br>
						<% segment_end = 1 %>
					<% elsif @user_input_sub1a == "1b2" %>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 warrior pt.1" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 warrior pt.2" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 warrior pt.3" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 warrior pt.4" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 warrior pt.5" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 warrior pt.6" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 warrior pt.7" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 warrior pt.8" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 warrior pt.9" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 warrior pt.10" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
                                                <% @articles.each do |article| %>
                                                        <% if article.title == "quest1 section 4 warrior pt.11" %>
                                                                <p>
                                                                        <%= article.text %>
                                                                </p>
                                                        <% end %>
                                                <% end %>
                                                <br>
                                                <% @articles.each do |article| %>
                                                        <% if article.title == "quest1 section 4 warrior pt.12" %>
                                                                <p>
                                                                        <%= article.text %>
                                                                </p>
                                                        <% end %>
                                                <% end %>
                                                <br>
                                                <% @articles.each do |article| %>
                                                        <% if article.title == "quest1 section 4 warrior pt.13" %>
                                                                <p>
                                                                        <%= article.text %>
                                                                </p>
                                                        <% end %>
                                                <% end %>
                                                <br>
                                                <% @articles.each do |article| %>
                                                        <% if article.title == "quest1 section 4 warrior pt.14" %>
                                                                <p>
                                                                        <%= article.text %>
                                                                </p>
                                                        <% end %>
                                                <% end %>
                                                <br>
                                                <% @articles.each do |article| %>
                                                        <% if article.title == "quest1 section 4 warrior pt.15" %>
                                                                <p>
                                                                        <%= article.text %>
                                                                </p>
                                                        <% end %>
                                                <% end %>
                                                <br>
                                                <% @articles.each do |article| %>
                                                        <% if article.title == "quest1 section 4 warrior pt.16" %>
                                                                <p>
                                                                        <%= article.text %>
                                                                </p>
                                                        <% end %>
                                                <% end %>
                                                <br>
						<% segment_end = 1 %>
					<% end %>
				</center>
			<% end %>
			<% if segment_end == 1 %>
				<center>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 end pt.1" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 end pt.2" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<%= render 'q1/restart' %>
				</center>
			<% end %>
		</h2>
	</div>
</div>
