<%= render :template => 'q1s3/index' %>

<div id="3a">
	<h2>
		<div id="fade">
			
			<center>
				<% if @user_input_sub3 == "3a1" %>
                                        <p class="chapter-title">Burning those Greenskins</p>
                                        <br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 3a1 pt.1" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 3a1 pt.2" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 3a1 pt.3" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 3a1 pt.4" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 3a1 pt.5" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 3a1 pt.6" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
					<% segment_sub4 = 1 %>
                                <% end %>
				<% if @user_input_sub3 == "3a2" %>
                                        <p class="chapter-title">You dead!</p>
                                        <br>
					<%= "Klarkel was overwhelmed by the fanatics." %>
					<br><br>
					<%= "You have failed!" %>
					<br><br>
					<%= render 'q1/restart' %>
					<br>
				<% end %>
			</center>
			
			<% if segment_sub4 == 1 %>
				<center>
                                        <p class="chapter-title">Bearding the unknown</p>
                                        <br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 4 pt.1" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 4 pt.2" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 4 pt.3" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 4 pt.4" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 4 pt.5" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
					<% if @user_input_sub1a == "1b1"%>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 slayer pt.1" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 slayer pt.2" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
                                                <p class="chapter-title">Sneaking into peril</p>
                                                <br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 slayer pt.3" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 slayer pt.4" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 slayer pt.5" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 slayer pt.6" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 slayer pt.7" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 slayer pt.8" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 slayer pt.9" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 slayer pt.10" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
                                                <% @articles.each do |article| %>
                                                        <% if article.title == "quest1 section 4 slayer pt.11" %>
                                                                <p>
                                                                        <%= article.text %>
                                                                </p>
                                                        <% end %>
                                                <% end %>
                                                <br>
                                                <% @articles.each do |article| %>
                                                        <% if article.title == "quest1 section 4 slayer pt.12" %>
                                                                <p>
                                                                        <%= article.text %>
                                                                </p>
                                                        <% end %>
                                                <% end %>
                                                <br>
						<% segment_end = 1 %>
					<% elsif @user_input_sub1a == "1b2" %>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 warrior pt.1" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 warrior pt.2" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 warrior pt.3" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 warrior pt.4" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 warrior pt.5" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
                                                <p class="chapter-title">Friends amongst wraiths</p>
                                                <br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 warrior pt.6" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 warrior pt.7" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 warrior pt.8" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
                                                <% @articles.each do |article| %>
                                                        <% if article.title == "quest1 section 4 warrior pt.9" %>
                                                                <p>
                                                                        <%= article.text %>
                                                                </p>
                                                        <% end %>
                                                <% end %>
                                                <br>
						<% @articles.each do |article| %>
							<% if article.title == "quest1 section 4 warrior pt.10" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>
						<br>
                                                <% @articles.each do |article| %>
                                                        <% if article.title == "quest1 section 4 warrior pt.11" %>
                                                                <p>
                                                                        <%= article.text %>
                                                                </p>
                                                        <% end %>
                                                <% end %>
                                                <br>
                                                <% @articles.each do |article| %>
                                                        <% if article.title == "quest1 section 4 warrior pt.12" %>
                                                                <p>
                                                                        <%= article.text %>
                                                                </p>
                                                        <% end %>
                                                <% end %>
                                                <br>
                                                <% @articles.each do |article| %>
                                                        <% if article.title == "quest1 section 4 warrior pt.13" %>
                                                                <p>
                                                                        <%= article.text %>
                                                                </p>
                                                        <% end %>
                                                <% end %>
                                                <br>
                                                <% @articles.each do |article| %>
                                                        <% if article.title == "quest1 section 4 warrior pt.14" %>
                                                                <p>
                                                                        <%= article.text %>
                                                                </p>
                                                        <% end %>
                                                <% end %>
                                                <br>
                                                <% @articles.each do |article| %>
                                                        <% if article.title == "quest1 section 4 warrior pt.15" %>
                                                                <p>
                                                                        <%= article.text %>
                                                                </p>
                                                        <% end %>
                                                <% end %>
                                                <br>
                                                <% @articles.each do |article| %>
                                                        <% if article.title == "quest1 section 4 warrior pt.16" %>
                                                                <p>
                                                                        <%= article.text %>
                                                                </p>
                                                        <% end %>
                                                <% end %>
                                                <br>
						<% segment_end = 1 %>
					<% end %>
				</center>
			<% end %>
			
			<% if segment_end == 1 %>
				<center>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 end pt.1" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 end pt.2" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<%= render 'q1/restart' %>
					<br>
				</center>
				
			<% end %>
		</div>
	</h2>
</div>
