<%= render :template => 'q1s1b/index' %>

<div id="1c">
	<% if @user_input_sub1b == "1c1" %>
		<center>
			<h2>
				<div id="fade">
					<% @articles.each do |article| %>
							<% if article.title == "quest1 section 1 sub1c1" %> 
								<p>
									<%= article.text %>
								</p>
							<% end %>
					<% end %>
					<br>
					<%= "You have failed!" %>
					<br><br>
					<%= render 'q1/restart' %>
					<br>
				</div>
			</h2>
		</center>
	<% elsif @user_input_sub1b == "1c2" %>
		<center>
			<h2>
				<div id="fade">
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 1 sub1c2 pt.1" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 1 sub1c2 pt.2" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 1 sub1c2 pt.3" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 1 sub1c2 pt.4" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% if not ( @url.include?('1d1') or @url.include?('1d2')) %>
						<%= "1. Run from them" %>
						<br><br>
						<%= "2. Fight the Beastmen" %>
						<br><br>
						<%= form_for("pathfinder/a/q1/#{@user_input}/q1s1/#{@user_input_sub1}/"\
							"q1s1a/{@user_input_sub1a}/q1s1b/#{@user_input_sub1b}/q1s1c"\
							, method: :post) do %>
							<%= label_tag(:section_sub1c_input, "Please choose a path:") %>
							<%= text_field_tag :section_sub1c_input, @response_sub1c, maxlength:1 %>
							<%= submit_tag "Submit", :id => "submit", 'data-disable-with' => "Please wait.." %>
						<% end %>
						<br>
					<% end %>
				</div>
			</h2>
		</center>
	<% end %>
</div>