<html>
<body>

<ul id="menu">
	<li><%= render "homepage/banner" %></li>
	<li><a href="/empire#governed-hold">Back to the Dwarven Empire</a></li>
</ul>:

<div class="title_page">
	<h1>Barak Varr</h1>
</div>

<%= image_tag("barak-varr-banner.png", :class => "leftsidepicture-with-background", style:"border-right: 10px solid #F0DAF2") %> <%= image_tag("varr.jpg", :class => "rightsidepicture", style:"height:250px; border-left: 10px solid #F0DAF2") %>
<% @articles.each do |article| %>
	<% if article.title == "varr pt.1" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<% @articles.each do |article| %>
	<% if article.title == "varr pt.2" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<% @articles.each do |article| %>
	<% if article.title == "varr pt.3" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<% @articles.each do |article| %>
	<% if article.title == "varr pt.4" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<div class="banner-bottom">
	<%= render 'homepage/banner' %>
</div>
</html>
</body>