<html>
<body>

<%= render 'banner' %>

<ul id="menu">
	<li><a href="/">Back to Homepage</a></li>
</ul>
<br><br>
<br><br>
<br><br>

<h1>Governed Holds</h1>

	<div class="empire-category-layout">
		<div class="category-layout-item">
			<%= link_to image_tag("Karaz-a-Karak banner.jpg", onclick:"quest1()", style:"height: 100px") %>
			<p class="text-under-image">Karaz-A-Karak</p>
		</div>
		<div class="category-layout-item">
			<%= link_to image_tag("karak-kadrin-banner.png", onclick:"quest2()", style:"height: 100px") %>
			<p class="text-under-image">Karak Kadrin</p>
		</div>
		<div class="category-layout-item">
			<%= link_to image_tag("karak-norn-banner.png", onclick:"quest3()", style:"height: 100px") %>
			<p class="text-under-image">Karak Norn</p>
		</div>
		<div class="category-layout-item">
			<%= link_to image_tag("barak-varr-banner.png", onclick:"quest4()", style:"height: 100px") %>
			<p class="text-under-image">Barak Varr</p>
		</div>
		<div class="category-layout-item">
			<%= link_to image_tag("karak-azul-banner.png", onclick:"quest5()", style:"height: 100px") %>
			<p class="text-under-image">Karak Azul</p>
		</div>
		<div class="category-layout-item">
			<%= link_to image_tag("karak-hirn-banner.png", onclick:"quest6()", style:"height: 100px") %>
			<p class="text-under-image">Karak Hirn</p>
		</div>
		<div class="category-layout-item">
			<%= link_to image_tag("karaka-drak-banner.png", onclick:"quest7()", style:"height: 100px") %>
			<p class="text-under-image">Kraka Drak</p>
		</div>
		<div class="category-layout-item">
			<%= link_to image_tag("karak-izor-banner.png", onclick:"quest8()", style:"height: 100px") %>
			<p class="text-under-image">Karak Izor</p>
		</div>
		<div class="category-layout-item">
			<%= link_to image_tag("zhufbar.png", onclick:"quest9()", style:"height: 100px") %>
			<p class="text-under-image">Zhufbar</p>
		</div>
	</div>

<br>

<br>
<center><%= image_tag("Karaz-a-Karak.jpg", :class => "empire-centerpicture") %></center>
<br><br><br>

<h1>Captured/Lost Holds</h1>

	<div class="empire-category-layout">
		<div class="category-layout-item">
			<%= link_to image_tag("karak-8-peaks.jpg", onclick:"quest10()", style:"height: 100px") %>
			<p class="text-under-image">Karak 8 Peaks</p>
		</div>
		<div class="category-layout-item">
			<%= link_to image_tag("lost-dwarfhold-banner.png", onclick:"quest11()", style:"height: 100px") %>
			<p class="text-under-image">Karak Azgal</p>
		</div>
		<div class="category-layout-item">
			<%= link_to image_tag("lost-dwarfhold-banner.png", onclick:"quest12()", style:"height: 100px") %>
			<p class="text-under-image">Karak Drazh</p>
		</div>
		<div class="category-layout-item">
			&nbsp; <%= link_to image_tag("lost-dwarfhold-banner.png", onclick:"quest13()", style:"height: 100px") %>
			<p class="text-under-image">Karag Agilwutraz</p>
		</div>
		<div class="category-layout-item">
			<%= link_to image_tag("lost-dwarfhold-banner.png", onclick:"quest14()", style:"height: 100px") %>
			<p class="text-under-image">Karaz Gunbad</p>
		</div>
		<div class="category-layout-item">
			<%= link_to image_tag("lost-dwarfhold-banner.png", onclick:"quest15()", style:"height: 100px") %>
			<p class="text-under-image">Karak Varn</p>
		</div>
		<div class="category-layout-item">
			<%= link_to image_tag("lost-dwarfhold-banner.png", onclick:"quest16()", style:"height: 100px") %>
			<p class="text-under-image">Karak Ungor</p>
		</div>
		<div class="category-layout-item">
			<%= link_to image_tag("lost-dwarfhold-banner.png", onclick:"quest17()", style:"height: 100px") %>
			<p class="text-under-image">Karak Vlag</p>
		</div>
		<div class="category-layout-item">
			<%= link_to image_tag("lost-dwarfhold-banner.png", onclick:"quest18()", style:"height: 100px") %>
			<p class="text-under-image">Ekrund</p>
		</div>
	</div>
</div>

<br>
<center><%= image_tag("captured hold.png", :class => "empire-centerpicture") %></center>

<% if notice %>
	<script>
		setTimeout(location.reload.bind(location), 8000);
	</script>
<% end %>

	
<br><br><br>

<% if notice %>
	<script>
		setTimeout(location.reload.bind(location), 8000);
	</script>
<% end %>

<script>
function quest1() {
	setTimeout(function(){ window.location.href='/pathfinder/a/quest1' }, 1000);
}
function quest2() {
	setTimeout(function(){ window.location.href='/pathfinder/quest2' }, 1000);
}
function quest3() {
	setTimeout(function(){ window.location.href='/pathfinder/quest3' }, 1000);
}
function quest4() {
	setTimeout(function(){ window.location.href='/pathfinder/quest4' }, 1000);
}
function quest5() {
	setTimeout(function(){ window.location.href='/pathfinder/quest5' }, 1000);
}
function quest6() {
	setTimeout(function(){ window.location.href='/pathfinder/quest6' }, 1000);
}
function quest7() {
	setTimeout(function(){ window.location.href='/pathfinder/quest7' }, 1000);
}
function quest8() {
	setTimeout(function(){ window.location.href='/pathfinder/quest8' }, 1000);
}
function quest9() {
	setTimeout(function(){ window.location.href='/pathfinder/quest9' }, 1000);
}
function quest10() {
	setTimeout(function(){ window.location.href='/pathfinder/quest10' }, 1000);
}
function quest11() {
	setTimeout(function(){ window.location.href='/pathfinder/quest11' }, 1000);
}
function quest12() {
	setTimeout(function(){ window.location.href='/pathfinder/quest12' }, 1000);
}
function quest13() {
	setTimeout(function(){ window.location.href='/pathfinder/quest13' }, 1000);
}
function quest14() {
	setTimeout(function(){ window.location.href='/pathfinder/quest14' }, 1000);
}
function quest15() {
	setTimeout(function(){ window.location.href='/pathfinder/quest15' }, 1000);
}
function quest16() {
	setTimeout(function(){ window.location.href='/pathfinder/quest16' }, 1000);
}
function quest17() {
	setTimeout(function(){ window.location.href='/pathfinder/quest17' }, 1000);
}
function quest18() {
	setTimeout(function(){ window.location.href='/pathfinder/quest18' }, 1000);
}
</script>

<%= render 'banner' %>
	
</body>
</html>