<html>
<body>

<%= render "homepage/banner" %>

<ul id="menu">
	<li><a href="/">Back to Homepage</a></li>
</ul>
<br><br><br>
<div class ="title_page">
        <h1>Goldvein Ventures</h1>
</div>
<center>
	<% @articles.each do |article| %>
		<% if article.title == "pathfinder pt.1" %>
			<p>
				<h2><%= article.text %></h2>
			</p>
		<% end %>
	<% end %>	
	<br>
	<% @articles.each do |article| %>
		<% if article.title == "pathfinder pt.2" %>
			<p>
				<h2><%= article.text %></h2>
			</p>
		<% end %>
	<% end %>	
	<br>

	<div class="category-layout-item">
		<%= link_to image_tag("Karaz-a-Karak banner.jpg", onclick:"quest1()", style:"height: 100px") %>
		<p class="text-under-image">Karaz-A-Karak</p>
	</div>
	<div class="category-layout-item">
		<%= link_to image_tag("karak-kadrin-banner.png", onclick:"quest2()", style:"height: 100px") %>
		<p class="text-under-image">Karak Kadrin</p>
	</div>
	<div class="category-layout-item">
		<%= link_to image_tag("karak-norn-banner.png", onclick:"quest3()", style:"height: 100px") %>
		<p class="text-under-image">Karak Norn</p>
	</div>
</center>
<br><br><br>
	
</body>
</html>

<% if notice %>
	<script>
		setTimeout(location.reload.bind(location), 8000);
	</script>
<% end %>

<% if notice %>
	<script>
		setTimeout(location.reload.bind(location), 8000);
	</script>
<% end %>

<script>
function quest1() {
	setTimeout(function(){ window.location.href='/pathfinder/a/q1' }, 1000);
} 
function quest2() {
	setTimeout(function(){ window.location.href='/pathfinder/a/q2' }, 1000);
}
function quest3() {
	setTimeout(function(){ window.location.href='/pathfinder/a/quest3' }, 1000);
}
</script>
