<% @url = request.original_fullpath %>

<%= render :template => "q2/index" %>

<div id="fade">
	<% if @user_input == "1a" %>
		<div id="1a">
			<center>
				<% @articles.each do |article| %>
					<% if article.title == "wolf sigil success" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.1" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.2" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.3" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.4" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.5" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.6" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.7" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.8" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.9" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.10" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.11" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.12" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.13" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.14" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.15" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.16" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.17" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.18" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.19" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.20" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.21" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.22" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.23" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.24" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% @articles.each do |article| %>
					<% if article.title == "quest2 section 1 pt.25" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<% if not (@url.include?('/1a1') or @url.include?('/1b1')) %>
					<h2>
						<% @articles.each do |article| %>
							<% if article.title == "quest2 check body intro" %>
								<p>
									<%= article.text %>
								</p>
							<% end %>
						<% end %>	
						<br>
						<%= "1. Don't check the body." %>
						<br><br>
						<%= "2. Check the body." %>
						<br><br>
						<%= form_for("pathfinder/a/q2/#{@user_input}/q2s1", method: :post) do %>
							<%= label_tag(:section_2_input, "Please choose a path:") %>
							<%= text_field_tag :section_2_input, @response_2, maxlength:1 %>
							<%= submit_tag "Submit", :id => "submit", 'data-disable-with' => "Please wait.." %>
						<% end %>
					</h2>
				<% end %>
			</center>
		</div>
	<% elsif @user_input == "1b"%>
		<div id="1b">
			<center>
				<% @articles.each do |article| %>
					<% if article.title == "wolf sigil failure" %>
						<p>
							<h2><%= article.text %></h2>
						</p>
					<% end %>
				<% end %>	
				<br>
				<h2><%= "You have failed!" %></h2>
				<br>
				<%= render 'q2/restart' %>
				<br>
				<%= render 'homepage/banner' %>
			</center>
		</div>
	<% end %>
</div>