<ul id="menu">
	<li><%= render 'homepage/banner' %></li>
	<li><a href="/society">Back to Dwarven Society</a></li>
</ul>:

<div class="title_page">
	<h1>The Dwarven People</h1>
</div>

<h1>Dwarven Anatomy</h1>

<% @articles.each do |article| %>
	<% if article.title == "social pt.30" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<h1>Diet</h1>

<%= image_tag("dwarf beer.jpg", :class => "leftsidepicture", style:"height:350px; border-right: 10px solid #F0DAF2") %>
<% @articles.each do |article| %>
	<% if article.title == "social pt.31" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "social pt.32" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "social pt.33" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "social pt.34" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "social pt.35" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<h1>Reproduction</h1>

<% @articles.each do |article| %>
	<% if article.title == "social pt.36" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "social pt.37" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<h1>Dwarf Women</h1>
<%= image_tag("dwarf women.jpg", :class => "rightsidepicture", style:"height:350px; border-left: 10px solid #F0DAF2") %>
<% @articles.each do |article| %>
	<% if article.title == "social pt.25" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "social pt.26" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "social pt.27" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "social pt.28" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "social pt.29" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<div class="title_page">
	<h1>Dwarven Values</h1>
</div>

<% @articles.each do |article| %>
	<% if article.title == "social pt.1" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<h1>Age</h1>

<%= image_tag("longbeards.jpg", :class => "leftsidepicture", style:"height:350px; border-right: 10px solid #F0DAF2") %>
<% @articles.each do |article| %>
	<% if article.title == "social pt.2" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<% @articles.each do |article| %>
	<% if article.title == "social pt.3" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<h1>Wealth</h1>

<% @articles.each do |article| %>
	<% if article.title == "social pt.4" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<h1>Skills</h1>
<%= image_tag("blacksmith.jpg", :class => "rightsidepicture", style:"height:350px; border-left: 10px solid #F0DAF2") %>
<% @articles.each do |article| %>
	<% if article.title == "social pt.5" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<h1>Reputation</h1>

<% @articles.each do |article| %>
	<% if article.title == "social pt.6" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<h1>Tradition</h1>

<% @articles.each do |article| %>
	<% if article.title == "social pt.7" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<h1>Honor</h1>

<% @articles.each do |article| %>
	<% if article.title == "social pt.38" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<div class="title_page">
	<h1>Social Hierarchy</h1>
</div>

<h1>Dwarf Clans</h1>
<%= image_tag("dwarf army.jpg", :class => "leftsidepicture", style:"height:350px; border-right: 10px solid #F0DAF2") %>
<% @articles.each do |article| %>
	<% if article.title == "social pt.8" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<% @articles.each do |article| %>
	<% if article.title == "social pt.9" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<% @articles.each do |article| %>
	<% if article.title == "social pt.10" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br><br><br>

<br>
<h1>Stages of Life</h1>

<% @articles.each do |article| %>
	<% if article.title == "social pt.11" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "social pt.12" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "social pt.13" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "social pt.14" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "social pt.15" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "social pt.16" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "social pt.17" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "social pt.18" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "social pt.19" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "social pt.20" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<h1>Death and Interment</h1>
<%= image_tag("burial.jpg", :class => "rightsidepicture", style:"height:350px; border-left: 10px solid #F0DAF2") %>

<% @articles.each do |article| %>
	<% if article.title == "social pt.21" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "social pt.22" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "social pt.23" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "social pt.24" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>



<%= render 'homepage/banner' %>