<html>
<body>

<ul id="menu">
	<li><%= render 'homepage/banner' %></li>
	<li><a href="/empire#governed-hold">Back to the Dwarven Empire</a></li>
</ul>:

<div class="title_page">
	<h1>Karak Kadrin</h1>
</div>

<%= image_tag("karak-kadrin-banner.png", :class => "leftsidepicture-with-background") %> <%= image_tag("kadrin.jpg", :class => "rightsidepicture", style:"height:250px") %>

<% @articles.each do |article| %>
	<% if article.title == "kadrin pt.1" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "kadrin pt.2" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "kadrin pt.3" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<div class="banner-bottom">
	<%= render 'homepage/banner' %>
</div>
</body>
</html>