<html>
<body>

<ul id="menu">
	<li><%= render "homepage/banner" %></li>
	<li><a href="/society">Back to Dwarven Society</a></li>
</ul>:

<div class="title_page">
	<h1>Khazalid</h1>
</div>

<% @articles.each do |article| %>
	<% if article.title == "language pt.2" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<% @articles.each do |article| %>
	<% if article.title == "language pt.3" %> 
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<% @articles.each do |article| %>
	<% if article.title == "language pt.4" %> 
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<center><h1>The Runic Script</h1></center>

<% @articles.each do |article| %>
	<% if article.title == "language pt.5" %> 
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<% @articles.each do |article| %>
	<% if article.title == "language pt.6" %> 
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

​<center><%= image_tag("rhunic_alphabet.jpg") %></center>

<br>

<center><h1>Magic Runes</h1></center>

<% @articles.each do |article| %>
	<% if article.title == "language pt.7" %> 
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br><br>
<h2><span id="left_tab">
Runes of Armour 
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; 
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; 
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; 
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; 
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; 
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
Spells of Protection
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; 
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; 
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
&ensp;&ensp;&ensp; 
Enchantments of the Dawi
</span></h2>
<%= image_tag("armour_runes.jpg", :class => "language-centerpicture") %>
​<%= image_tag("protection_runes.jpg", :class => "language-rightsidepicture") %>
<%= image_tag("talisman_runes.jpg", :class => "language-leftsidepicture") %>

<br><br><br><br>
<h2>
	<span id ="left_tab">
	&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; 
	&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; 
	&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
	&ensp;&ensp; 
	Engineering Runes
	&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; 
	&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; 
	&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
	&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
	&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; 
	&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; 
	Scriptures of War
</span>
</h2>
​<%= image_tag("engineer_runes.jpg", :class => "language-rightsidepicture", style:"margin-right: 170px") %>
<%= image_tag("weapon_runes.jpg", :class => "language-leftsidepicture", style:"margin-left: 170px; width: 500px") %>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<center><h1>Thesaurus</h1></center>

<% @articles.each do |article| %>
	<% if article.title == "language pt.1" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "A" %>
		<br>
		<%= "Argul = Stone Carving; lines in face of a very old dwarf" %>
		<br>
		<%= "Angaz = Ironwork" %>
		<br>
		<%= "Ankor = Domain or realm" %>
		<br>
		<%= "Arm = The Khazalid irregular verb to be (present tense arm - past tense urz)." %>
		<br>
		<%= "Az = War Axe." %>
		<br>
		<%= "Azgal = Treasure hold." %>
		<br>
		<%= "Azul = Metal of any kind;dependable;a sturdy dwarf." %>
	</h2>
</div>

<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "B" %>
		<br>
		<%= "Bak = Fist or punch" %>
		<br>
		<%= "Bar = A fortified gateway or door" %>
		<br>
		<%= "Barag = A warmachine" %>
		<br>
		<%= "Baraz = A bond or promise" %>
		<br>
		<%= "Boga = A candle that blows unexpectedly plunging the tunnel in darkness" %>
		<br>
		<%= "Bok = Banging your head on the roof of a low tunnel; characteristic scar on forehead caused by the same act" %>
		<br>
		<%= "Boki = Slang word for dwarf miners" %>
		<br>
		<%= "Bolg = Large, fat belly. Also a state of extreme wealth, age and contentment" %>
		<br>
		<%= "Bozdok = Unhinged as a result of constantly banging one's head against low roofs and pit-props - 'crosseyed'" %>
		<br>
		<%= "Bran = Clever, alert, mentally sharp" %>
		<br>
		<%= "Brodag = An annual brewing festival of Grungni" %>
		<br>
		<%= "Bryn = Gold that shines strikingly in the sunlight;anything shiny or brillant" %>
		<br>
		<%= "Bugrit = An invocation against ill-luck uttered by a dwarf who has banged his head, "\
		"hit his thumb, stubbed his toe or some other minor misfortune. Usually repeated three times "\
		"for luck" %>
	</h2>
</div>
<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "C" %>
		<br>
		<%= "Chuf = Piece of very old cheese a dwarf miner keeps under his hat for emergencies" %>
	</h2>
</div>
<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "D" %>
		<br>
		<%= "Dal = Old, good" %>
		<br>
		<%= "Dammaz = A grievance, grudge or insult to be avenged" %>
		<br>
		<%= "Dammaz Kron= The Book of Grudges" %>
		<br>
		<%= "Dar = A challenge or bet" %>
		<br>
		<%= "Dawi = Dwarfs" %>
		<br>
		<%= "Dawr = As good as something can get without it being proven over time and hard use. Most "\
		"dwarf words for 'good' imply age and reliability too, but dwar simply means 'looks like it might "\
		"be good'. It literally translates to 'like dwarf'" %>
		<br>
		<%= "Deb = New, untried, raw" %>
		<br>
		<%= "Dibnin = The act of tinkering with something that already works perfectly, out of a belief "\
		"that if can still be improved - hence Dibna, a dwarf who engages in dibnin." %>
		<br>
		<%= "Doh = Stupid, slow-witted, gullable" %>
		<br>
		<%= "Dok = Watch, observe, see, the eye" %>
		<br>
		<%= "Dongliz = The parts of a dwarf's body impossible for him to scratch" %>
		<br>
		<%= "Dork = Giant, tall, unstable" %>
		<br>
		<%= "Drakk = Dragon" %>
		<br>
		<%= "Drek = Far, a great distance; great ambition or enterprise." %>
		<br>
		<%= "Dreng = Slay in combat" %>
		<br>
		<%= "Drengi = Slayer, one of the cult of Slayers" %>
		<br>
		<%= "Drengnel = Dragon stew with cave mushrooms marinated in strong ale" %>
		<br>
		<%= "Drung = To vanquish, defeat" %>
		<br>
		<%= "Duk = low, narrow tunnel" %>
		<br>
		<%= "Dum = Doom or darkness" %>
		<br>
		<%= "Dunkin = Annual bath traditionally taken whether needed or not" %>
		<br>
		<%= "Durak = Hard" %>
		<br>
		<%= "Duraz = Stone or slab" %>
	</h2>
</div>
<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "E" %>
		<br>
		<%= "Ekrund = A stairway decesending beneath the ground" %>
		<br>
		<%= "Elgi = Elves" %>
		<br>
		<%= "Elgram = Weak, enfeebled, thin" %>
		<br>
		<%= "Elgraz = Construction that looks as if it is about to collapse" %>
		<br>
		<%= "Endrukli = An engineer or mechanic (generally a dwarf engineer)" %>
	</h2>
</div>
<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "F" %>
		<br>
		<%= "Fleg = Banner, standard" %>
		<br>
		<%= "Frongol = Mushrooms that grow in the back of a cave" %>
	</h2>
</div>
<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "G" %>
		<br>
		<%= "Galaz = Gold of particular ornamental value" %>
		<br>
		<%= "Gand = Find, discover" %>
		<br>
		<%= "Garaz = Rebellious, fearless" %>
		<br>
		<%= "Gazan = Plains, wasteland" %>
		<br>
		<%= "Gibal = Fragments of food enmeshed in a dwarf's beard" %>
		<br>
		<%= "Ginit = Small stone which works its way into your boot causing discomfort" %>
		<br>
		<%= "Girt = Broad tunnel with plenty of headroom" %>
		<br>
		<%= "Git = The Khazalid irregular verb to go (present tense git - past tense ged) the "\
		"word is related to got (ibid)" %>
		<br>
		<%= "Gnol = Old, reliable, proven, wise" %>
		<br>
		<%= "Gnollengrom = Respect due to a dwarf who has a longer and more spectacular beard" %>
		<br>
		<%= "Gnorl = An especially bright and obvious boil or similar blemish on the end of the nose" %>
		<br>
		<%= "Gor = Wild beast" %>
		<br>
		<%= "Gorak = Great cunning, uncanny" %>
		<br>
		<%= "Gorl = Gold that is especially soft and yellow; the color yellow" %>
		<br>
		<%= "Gorog = Ale; high spirits; a drinking binge" %>
		<br>
		<%= "Got = March or travel quickly with purpose" %>
		<br>
		<%= "Gov = Thane" %>
		<br>
		<%= "Gozunda = Practically anything kept under the bed 'for emergencies'" %>
		<br>
		<%= "Gov = Thane" %>
		<br>
		<%= "Grik = Pain in the neck caused by continually stooping low in tunnels" %>
		<br>
		<%= "Grim = Harsh, unyielding" %>
		<br>
		<%= "Grimaz = Barren place" %>
		<br>
		<%= "Grindal = Long flaxen plaits worn by female maidens" %>
		<br>
		<%= "Grint = Waste rock or spoil left by miners' excavations" %>
		<br>
		<%= "Grizal = Poor meat" %>
		<br>
		<%= "Grizdal = Ale that has been fermented for at least a century" %>
		<br>
		<%= "Grob = The colour green, also goblins and orcs - literally greenies" %>
		<br>
		<%= "Grobi = Goblins" %>
		<br>
		<%= "Grobkaz = Goblin works, evil deeds" %>
		<br>
		<%= "Grobkul = The art of stalking goblins in caves" %>
		<br>
		<%= "Grog = Inferior or watered ale; mannish brew" %>
		<br>
		<%= "Grom = Brave or defiant" %>
		<br>
		<%= "Gromdal = An ancient artefact" %>
		<br>
		<%= "Gromthi = Ancestor" %>
		<br>
		<%= "Grong = Anvil" %>
		<br>
		<%= "Gronit = The Khazalid irregular verb to do (present tense gronit - past tense gird)" %>
		<br>
		<%= "Gronti = Giant (as in the creature)" %>
		<br>
		<%= "Grumbak = A short measure of ale; trivial complaint or grumble" %>
		<br>
		<%= "Grumbaki = A grumbler or whiner" %>
		<br>
		<%= "Grund = Hammer (also sometimes called 'rikkaz')" %>
		<br>
		<%= "Grung = A mine" %>
		<br>
		<%= "Grungnaz = Making or smithying" %>
		<br>
		<%= "Grungni = Dwarf ancestor, god of smiths and mines" %>
		<br>
		<%= "Grungron = A forge" %>
		<br>
		<%= "Gruntaz = Strip of cloth worn around the loins and supposedly eaten in extreme emergencies "\
		"hence, 'down to his gruntaz'" %>
		<br>
		<%= "Gruntitrogg = Secret coming of age ritual practiced amongst dwarfkind - details of this are "\
		"amongst the mostly kept of all dwarf secrets" %>
		<br>
		<%= "Guz = To consume food or drink" %>
		<br>
		<%= "Guzzen = Push, feed, insert" %>
	</h2>
</div>
<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "H" %>
		<br>
		<%= "Hazkal = Ale brewed recently; a fiery young warrior" %>
		<br>
		<%= "Hunk = Carry heavy rocks or burden" %>
		<br>
		<%= "Hruki = Breed of mountain goat" %>
	</h2>
</div> 
<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "I" %>
		<br>
		<%= "Ik = Putting your hand in something slimy and unpleasant in the darkness" %>
		<br>
		<%= "Irkul = Pillared vault hewn in rock" %>
	</h2>
</div>
<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "J" %>
		<br>
		<%= "Jifful = Process of careful and percise adjustment to fit - especially in respect of "\
		"engineering or stonemasonry" %>
	</h2>
</div>
<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "K" %>
		<br>
		<%= "Kadrin = Mountain pass" %>
		<br>
		<%= "Kalan = Clan" %>
		<br>
		<%= "Karag = Volcano or barren mountain" %>
		<br>
		<%= "Karak = Enduring" %>
		<br>
		<%= "Karaz = Mountain" %>
		<br>
		<%= "Karin = Shield, temporary protection" %>
		<br>
		<%= "Kazad = Fortress" %>
		<br>
		<%= "Kazak = War or battle" %>
		<br>
		<%= "Khaz = An underground hall" %>
		<br>
		<%= "Khazhunki = Knight, calvary, rider. Lit. 'carried warrior'" %>
		<br>
		<%= "Khazukan = Dwarfs - literally hall-dwellers" %>
		<br>
		<%= "Khrum = War drum" %>
		<br>
		<%= "Klad = Armour" %>
		<br>
		<%= "Klinka = Chisel" %>
		<br>
		<%= "Klinkharum = Common runes" %>
		<br>
		<%= "Kol = Black stone, the colour black, sombre" %>
		<br>
		<%= "Konk = Gold that is ruddy in colour; large and bulbous nose" %>
		<br>
		<%= "Krink = Bad back due to continuous stooping" %>
		<br>
		<%= "Kro = Crow, raven, dark bird" %>
		<br>
		<%= "Kron = Book, record, history" %>
		<br>
		<%= "Kruk = A seemingly promising vein of ore which gives out suddenly; An unexpected "\
		"disappointment; A venture that comes to nothing" %>
		<br>
		<%= "Krunk = Underground rockfall; a disaster" %>
		<br>
		<%= "Krut = A discomforting disease contracted from mountain goats" %>
		<br>
		<%= "Kruti = A dwarf suffering from Krut; a goatherd; an insult" %>
		<br>
		<%= "Kulgur = The art of cooking troll" %>
		<br>
		<%= "Kuri = Meat stew boiled up by travelling dwarfs from whatever ingredients are at hand. "\
		"Traditionally spiced with wild berries" %>
	</h2>
</div>
<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "L" %>
		<br>
		<%= "Lok = Highly embellished or intricate; praiseworthy" %>
	</h2>
</div>
<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "M" %>
		<br>
		<%= "Makaz = Weapon or tool" %>
		<br>
		<%= "Mingol = Tall watchtower built on lowland" %>
	</h2>
</div>
<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "N" %>
		<br>
		<%= "Naggrund = An area of great upheaval, devastation or industry" %>
		<br>
		<%= "Narwangli = A dung collector or dwarf who smells strongly of dung" %>
		<br>
		<%= "Nogarung = Drinking tankard made from a troll's skull" %>
		<br>
		<%= "Nubunki = A dwarf child deformed at birth, shunned by its clan and exiled; A great shame "\
		"to the clan and the hold" %>
	</h2>
</div>
<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "O" %>
		<br>
		<%= "Ogri = Ogre" %>
		<br>
		<%= "Ok = Cunning or skill" %>
		<br>
		<%= "Okri = Craftsman - a common personal name" %>
		<br>
		<%= "Onk = Comradely accretion of dirt and grime on a company of dwarfs who have spent "\
		"many days underground." %>
	</h2>
</div>
<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "R" %>
		<br>
		<%= "Ragarin = Coarse and uncomfortable clothing made from a troll's hide" %>
		<br>
		<%= "Rhun = Rune, word or power" %>
		<br>
		<%= "Rhunki = Runesmith" %>
		<br>
		<%= "Rik = King or lord" %>
		<br>
		<%= "Rikkazen = Crush, to beat to a pulp, to turn to rubble" %>
		<br>
		<%= "Rikkit = A small stone that falls on your head as you walk down a tunnel" %>
		<br>
		<%= "Ril = Gold ore that shines brightly in rock" %>
		<br>
		<%= "Rink = Command, to give orders, to lead" %>
		<br>
		<%= "Rinn = A lady dwarf or king's consort" %>
		<br>
		<%= "Rogwak = An improvished team game played underground and using anything on hand as "\
		"a ball - often a rock, preferably a goblin's head or whole goblin body" %>
		<br>
		<%= "Rorkaz = Informal shouting contest" %>
		<br>
		<%= "Ruf = A large underground dome either natural or constructed" %>
		<br>
		<%= "Runk = A one-sided fight; a sound thrashing" %>
		<br>
		<%= "Rutz = Slackness of bowels caused by drinking too much ale" %>
	</h2>
</div>
<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "S" %>
		<br>
		<%= "Skarrenruf = The colour bright blue, the day time sky" %>
		<br>
		<%= "Skaz = Thief" %>
		<br>
		<%= "Skoz = A cold meal eaten underground" %>
		<br>
		<%= "Skrat = To search for gold amongst rock debris or stream bed; sparse living; scavenge" %>
		<br>
		<%= "Skrati = Poor prospector" %>
		<br>
		<%= "Skree = Loose rock on a mountainside" %>
		<br>
		<%= "Skruff = A scrawny beard; an outrageous insult" %>
		<br>
		<%= "Skrund = To hew rock; to get stuck in" %>
		<br>
		<%= "Skuf = A drunken brawl or skirmish" %>
		<br>
		<%= "Slotch = The sodden mix of water, mud and pulverized stone found at the bottom of "\
		"a mineworking" %>
		<br>
		<%= "Smak = Punish physically" %>
		<br>
		<%= "Stok = To hit or strike" %>
		<br>
		<%= "Strol = Walk or travel leisurely" %>
		<br>
		<%= "Stromez = Stream" %>
	</h2>
</div>
<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "T" %>
		<br>
		<%= "Thag = Slay by act of treachery" %>
		<br>
		<%= "Thagi = Murderous traitor" %>
		<br>
		<%= "Thaggoraki = Skaven, assassin, footpad" %>
		<br>
		<%= "Thindrongal = Secret vault in which ale or treasure is hidden" %>
		<br>
		<%= "Thingaz = Dense forest" %>
		<br>
		<%= "Throng = Army, huge assembly of dwarfs; a clan" %>
		<br>
		<%= "Thrund = A handgun" %>
		<br>
		<%= "Trogg = A feast or heavy drinking bout" %>
		<br>
		<%= "Troll = Troll" %>
		<br>
		<%= "Tromm = Beard; respect due to age or experience" %>
		<br>
		<%= "Tusk = Tooth" %>
	</h2>
</div>
<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "U" %>
		<br>
		<%= "Ufdi = A dwarf overfond of preening and decorating his beard; a vain dwarf; "\
		"a dwarf who cannot be trusted to fight" %>
		<br>
		<%= "Umanar = Roughly or approximately, and also indecision or vaillation" %>
		<br>
		<%= "Umgak = Shoddy, poorly made" %>
		<br>
		<%= "Umgi = Men" %>
		<br>
		<%= "Unbak = Break permanently" %>
		<br>
		<%= "Unbaraki = An oathbreaker - there is nothing worse in dwarf estimation" %>
		<br>
		<%= "Und = A watchpost carved into the mountainside" %>
		<br>
		<%= "Ungdrin = Ankor Underway, the ancient underground roadway of the dwarfs" %>
		<br>
		<%= "Ungor = Cavern" %>
		<br>
		<%= "Ungrim = A dwarf who has not yet fulfilled an important oath; an untrustworthy dwarf" %>
		<br>
		<%= "Urbar = trade" %>
		<br>
		<%= "Urbaz = A trading post or market" %>
		<br>
		<%= "Urk = Orc or enemy (also fear, to be afraid of, to retreat)" %>
		<br>
		<%= "Uzkul = Bones or death" %>
		<br>
		<%= "Uzkular = Undead" %>
	</h2>
</div>
<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "V" %>
		<br>
		<%= "Valdahaz = Brewery" %>
		<br>
		<%= "Varf = Wolf, hound" %>
		<br>
		<%= "Varn = Mountain lake" %>
		<br>
		<%= "Vongol = Raiding band" %>
		<br>
		<%= "Vorn = Farm" %>
	</h2>
</div>
<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "W" %>
		<br>
		<%= "Wan = On its own at the start of a phrase, wan shows the phrase is a question. It's the "\
		"dwarf equivalent of a question mark. This is usually missed where a standard wan - question "\
		"word is used instead (wanrag, wanrak, wanrum). Wan - is also used immediately before another "\
		"word to frame a question(ek wangit? 'are you going' literally 'you go?', wandar 'Is it good?' "\
		"lit. 'good?)'" %>
		<br>
		<%= "Wanaz = A disreputable dwarf with an unkempt beard, an insult" %>
		<br>
		<%= "Wattock = An unsuccessful dwarf prospector; a down-at-heel dwarf; an insult" %>
		<br>
		<%= "Wazzock = A dwarf who has exchanged gold or some other valuable item for something of "\
		"little or no worth; a foolish or gullible dwarf; an insult" %>
		<br>
		<%= "Werit = A dwarf who has forgotten where he placed his tankard of ale; a state of befuddlement" %>
		<br>
		<%= "Wutroth = Wood from ancient mountain oak" %>
	</h2>
</div>
<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "Z" %>
		<br>
		<%= "Zak = An isolated hut in the mountains" %>
		<br>
		<%= "Zaki = A crazed dwarf who wanders the mountains" %>
		<br>
		<%= "Zan = Blood, the colour red" %>
		<br>
		<%= "Zanen = A bleeding wound" %>
		<br>
		<%= "Zanguzaz = Vampire" %>
		<br>
		<%= "Zank = Cleave, cut, divide" %>
		<br>
		<%= "Zhazz = Fire" %>
		<br>
		<%= "Zhuf = Waterfall or rapidly flowing river" %>
		<br>
		<%= "Zint = The metal tin - hence zinti, a tinsmith or tinker" %>
		<br>
		<%= "Zorn = Upland plateau or high meadow" %>
		<br>
		<%= "Zon = Sun" %>
	</h2>
</div>

<center>
<h1>
	The basic structure of Khazalid
</h1>

<% @articles.each do |article| %>
	<% if article.title == "language pt.8" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "language pt.9" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "language pt.10" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "language pt.11" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<%= image_tag("signifier pt.1.png", :class => "language-centerpicture", :style => "width: 50%; height: 25%") %>
<br><br>

<% @articles.each do |article| %>
	<% if article.title == "language pt.12" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<%= image_tag("signifier pt.2.png", :class => "language-centerpicture", :style => "width: 50%; height: 25%") %>
<br><br>

<% @articles.each do |article| %>
	<% if article.title == "language pt.13" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<%= image_tag("signifier pt.3.png", :class => "language-centerpicture", :style => "height: 25%; width: 25%;") %>
<br><br>

<h1>
	Common Signifiers
</h1>

<% @articles.each do |article| %>
	<% if article.title == "language pt.14" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<%= image_tag("lang_elements.png", :class => "language-centerpicture", :style => "height: 25%; width: 65%;") %>
<br><br>
	
<h1>
	Useful Elements
</h1>

<% @articles.each do |article| %>
	<% if article.title == "language pt.15" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

</center>

<div class="language-index-layout">
	<h2 class="language-padding">
		<%= "A = Of, with, within, to" %>
		<br>
		<%= "Ad = Did, done, (preceding a verb)" %>
		<br>
		<%= "Af = They, you (plural)" %>
		<br>
		<%= "Ai, I, Ap and Ip = All forms of yes" %>
		<br>
		<%= "An = Will/shall/am going to/with purpose (preceding a verb)"%>
		<br>
		<%= "Anad = Will have done or shall have done" %>
		<br>
		<%= "Bin = In, on, beside" %>
		<br>
		<%= "Anu = Soon, very soon, any minute now!" %>
		<br>
		<%= "Bar = But, bear in mind, except for (also the word for a fortified gate)" %>
		<br>
		<%= "Ek = He, she, it, you (singular)" %>
		<br>
		<%= "Nai, Na or Nuf = All forms of no, not and never" %>
		<br>
		<%= "Nu = Now, at this time" %>
		<br>
		<%= "Ok = Why, how" %>
		<br>
		<%= "Or = I, me, myself" %>
		<br>
		<%= "Sar = May, could, might (preceding a verb)" %>
		<br>
		<%= "Um = Them, those, these" %>
		<br>
		<%= "Un = And" %>
		<br>
		<%= "Ut = Us, we, ourselves" %>
		<br>
		<%= "Wanrag = Where" %>
		<br>
		<%= "Wanrak = When (preceding a verb)" %>
		<br>
	</h2>
</div>

<br><br><br><br><br>
<%= render "homepage/banner" %>
</body>
</html>