<%= render :template => 'q1s2/index' %>

<div id="2a">
	<center>
		<h2>
			<div id="fade">
				<% if @user_input_sub2 == "2a1" %>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 2a1 pt.1" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 2a1 pt.2" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 2a1 pt.3" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 2a1 pt.4" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 2a1 pt.5" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 2a1 pt.6" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 2a1 pt.7" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 2a1 pt.8" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 2a1 pt.9" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
					<% segment_sub2a = 1%>
				<% elsif @user_input_sub2 == "2a2" %>
					<%= "Klarkel charges out to face the minotaurs and is torn to pieces." %>
					<br><br>
					<%= "You have failed!" %>
					<br><br>
					<%= render 'q1/restart' %>
					<br>
				<% end %>
				<% if segment_sub2a == 1 %>
					<% if not ( @url.include?('3a') or @url.include?('3b')) %>
						<%= "1. Go left" %>
						<br><br>
						<%= "2. Go right" %>
						<br><br>
						<%= form_for("pathfinder/a/q1/#{@user_input}/q1s1/#{@user_input_sub1}/"\
								"q1s1a/{@user_input_sub1a}/q1s1b/#{@user_input_sub1b}/q1s1c"\
								"#{@user_input_sub1c}/q1s1d/#{@user_input_sub1d}/q1s2/"\
								"#{@user_input_sub2}/q1s2a" , method: :post) do %>
							<%= label_tag(:section_sub2a_input, "Please choose a path:") %>
							<%= text_field_tag :section_sub2a_input, @response_sub2a, maxlength:1 %>
							<%= submit_tag "Submit", :id => "submit", 'data-disable-with' => "Please wait.." %>
						<% end %>
						<br>
					<% end %>
				<% end %>
			</div>
		</h2>
	</center>
</div>
