<ul id="menu">
	<li><%= render 'homepage/banner' %></li>
	<li><a href="/empire">Back to the Dwarven Empire</a></li>
</ul>:

<div class="title_page">
	<h1>Karak Azul</h1>
</div>

<%= image_tag("karak-azul-banner.png", :class => "leftsidepicture-with-background") %> <%= image_tag("azul.jpg", :class => "rightsidepicture", style:"height:250px") %>

<% @articles.each do |article| %>
	<% if article.title == "azul pt.1" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<% @articles.each do |article| %>
	<% if article.title == "azul pt.2" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<% @articles.each do |article| %>
	<% if article.title == "azul pt.3" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<div class="banner-bottom">
	<%= render 'homepage/banner' %>
</div>