<html>
<body>
<%= render "homepage/banner" %>
<ul id="menu">
	<li><a href="/">Back to Homepage</a></li>
</ul>
<div class ="title_page">	
	<h1>About the Karaz Ankor</h1>
</div>
<center>
	<br>
	<% @articles.each do |article| %>
		<% if article.title == "about pt.1" %>
			<p>
				<h2><%= article.text %></h2>
			</p>
		<% end %>
	<% end %>	
	<br>	
	<% @articles.each do |article| %>
		<% if article.title == "about pt.2" %>
			<p>
				<h2><%= article.text %></h2>
			</p>
		<% end %>
	<% end %>		
	<br>
	<h2>References</h2>
	<br>
	<a class="link-color" href="https://www.scribd.com/document/39650839/WFRP-1ed-Dwarfs-Stone-and-Steel">Warhammer Fantasy Roleplay 1st Edition - Dwarfs - Stone and Steel</a>
	<br><br>
	<a class="link-color" href="http://warhammerfantasy.wikia.com/wiki/Category:Dwarf">Warhammer Wiki Dwarf page</a>
	<br><br>
	<a class="link-color" href="https://www.youtube.com/watch?v=f_GifGJtKhk">Arch Warhammer Dwarf lore</a>
	<br><br>
	<h2>The creator himself</h2>
	<br>
	<%= image_tag("mutton-yoohoo.JPG", :class => "leftsidepicture", style:"height:210px; border-left: 10px solid #F0DAF2") %>
	<% @articles.each do |article| %>
		<% if article.title == "about pt.3" %>
			<p>
				<h2><%= article.text %></h2>
			</p>
		<% end %>
	<% end %>		
	<br>
	<% @articles.each do |article| %>
		<% if article.title == "about pt.4" %>
			<p>
				<h2><%= article.text %></h2>
			</p>
		<% end %>
	<% end %>		
	<br>
	<% @articles.each do |article| %>
		<% if article.title == "about pt.5" %>
			<p>
				<h2><%= article.text %></h2>
			</p>
		<% end %>
	<% end %>		
	<br><br><br>
	<% @articles.each do |article| %>
		<% if article.title == "about pt.6" %>
			<p>
				<h2><%= article.text %></h2>
			</p>
		<% end %>
	<% end %>
	<br>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_donations" />
		<input type="hidden" name="business" value="BMW8R9KD8YACJ" />
		<input type="hidden" name="currency_code" value="USD" />
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
		<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
	</form>
	<br><br>
</center>
			
<%= render "homepage/banner" %>			
			
</body>
</html>