<ul id="menu">
	<li><%= render 'banner' %></li>
	<li><a href="/pathfinder">Back to Pathfinder menu</a></li>
</ul>:

<% if notice %>
	<script>
		setTimeout(location.reload.bind(location), 8000);
	</script>
<% end %>

<% invalid_counter = 0 %>

<% @articles.each do |article| %>
	<% if article.title == "quest1 intro pt.1" %> 
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<% @articles.each do |article| %>
	<% if article.title == "quest1 intro pt.2" %> 
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>

<center><h2><%= "You come up with the following choices" %></h2></center>
<br>
<center><h2><%= "1. Climb down to the rope fastened on the side of the staircase" %></h2></center>
<br>
<center><h2><%= "2. Willingly jump to grab the rope from the staircase" %></h2></center>
<br>
<center><h2><%= "3. Walk to the courtyard and request to speak with the High King" %></h2></center>
<br>

<% choice_1a = "1a" %>
<% choice_1b = "1b" %>
<% choice_1c = "1c" %>

<%= form_for("/pathfinder/a/quest1", method: :post) do %>
  <center>
	<h2><%= label_tag(:section_1_input, "Please choose an option:") %></h2>
	<%= text_field_tag :section_1_input, @response, maxlength:1 %>
	<%= submit_tag("Submit") %>
  </center> 
<% end %>
<br>

<% if request.path_info.include?('selection') %>
	<%= "User entered " + @user_input + " as their answer" %>
	<br>
<% end %>

<% if @user_input == choice_1a %>
	
	<% climb = rand(1..100) %>
	<% if climb <= 5 %>
	
		<center>
			<h2>
				<%= "Klarkel loses his grip and falls" %>
				<br>
			</h2>
		</center>
		
		<% fall_outcome = rand(1..100) %>

		<% if fall_outcome <= 10 %>
		
			<center>
				<h2>
					<%= "Klarkel manages to the grab the rope. Feeling the recoil of the cable, he is thrown up and down vigorously." %></h2>
					<br>
					<%= "Mustering all of his strength, the foolish dwarf is able to climb to the top of the statue." %>
					<br>
				</h2>
			</center>
			
			<% @articles.each do |article| %>
				<% if article.title == "quest1 section 1 pt.1a" %> 
					<p>
						<h2><%= article.text %></h2>
					</p>
				<% end %>
			<% end %>
			<br>
		
		<% else%>
		
			<center>
				<h2>
					<%= "Klarkel plummets to his death" %>
					<br>
					<%= "You have failed!" %>
					<br>
					<%= button_to 'restart', pathfinder_quest1_index_path %>
				</h2>
			</center>
			
		<% end %>
		
	<% else %>
		
		<h2><%= "Klarkel grabs on to the lose marble blocks and slowly climbs down the wall" %></h2>
		<br>

		<% @articles.each do |article| %>
			<% if article.title == "quest1 section 1 pt.1a" %> 
				<p>
					<h2><%= article.text %></h2>
				</p>
			<% end %>
		<% end %>
		<br>
		
		<%# choice_2a = "1" %>
		<%# choice_2b = "2" %>

		<center>
			<h2>
				<%#= "1. Chuck throwing axes at the support cables of the hanging light" %>
				<br>
				<%#= "2. Shoot the light with your gun" %>
			</h2>
		</center>
				
	<% end %>
	
<% elsif @user_input == choice_1b %>	

	<% fall = rand(1..100) %>
		
	<% if fall <= 95 %>
		
		<center>
			<h2>
				<%= "Klarkel plummets to his death" %>
				<br><br>
				<%= "You have failed!" %>
				<br>
				<%= button_to 'restart', pathfinder_quest1_index_path %>
			</h2>
		</center>

	<% else %>

		<center>
			<h2>
				<%= "Klarkel manages to the grab the rope. Feeling the recoil of the cable, he is thrown up and down vigorously." %>
				<br><br>
				<%= "Mustering all of his strength, the foolish dwarf is able to climb to the top of the statue." %>
				<br><br>
			</h2>				
		</center>
		<% @articles.each do |article| %>
			<% if article.title == "quest1 section 1 pt.1a" %> 
				<p>
					<h2><%= article.text %></h2>
				</p>
			<% end %>
		<% end %>
		<br>

	<% end %>

<% elsif @user_input == choice_1c %>
	
	<% @articles.each do |article| %>
		<% if article.title == "quest1 section 1 pt.1ca" %> 
			<p>
				<h2><%= article.text %></h2>
			</p>
		<% end %>
	<% end %>
	<br>
	
	<% @articles.each do |article| %>
		<% if article.title == "quest1 section 1 pt.1cb" %> 
			<p>
				<h2><%= article.text %></h2>
			</p>
		<% end %>
	<% end %>
	<br>
	
	<center>
		<h2>
			<%= "You have failed!" %>
			<br>
			<%= button_to 'restart', pathfinder_quest1_index_path %>
		</h2>
	</center>
	
	<br>	
<% end %>

<br><br><br>
<%= render 'banner' %>
