<ul id="menu">
	<li><%= render 'homepage/banner' %></li>
	<li><a href="/empire#governed-hold">Back to the Dwarven Empire</a></li>
</ul>:

<div class="title_page">
	<h1>Karak Izor</h1>
</div>

<%= image_tag("karak-izor-banner.png", :class => "leftsidepicture-with-background") %> <%= image_tag("The Vaults.jpg", :class => "rightsidepicture", style:"height:250px") %>

<% @articles.each do |article| %>
	<% if article.title == "izor pt.1" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "izor pt.2" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br>
<% @articles.each do |article| %>
	<% if article.title == "izor pt.3" %>
		<p>
			<h2><%= article.text %></h2>
		</p>
	<% end %>
<% end %>
<br><br><br><br><br>
<%= render 'homepage/banner' %>