<%= render :template => 'q1s2a/index' %>

<div id="3">
	<div id="fade">
		<% if @user_input_sub2a == "3a" %>
			<center>
				<h2>
                                        <p class="chapter-title">Grobi Ahoy!</p>
                                        <br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 3a pt.1" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 3a pt.2" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 3a pt.3" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 3a pt.4" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 3a pt.5" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 3a pt.6" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 3a pt.7" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 3a pt.8" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 3a pt.9" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 3a pt.10" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 3a pt.11" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 3a pt.12" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article|%>
                                                <% if article.title == "quest1 section 3a pt.13" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
				</h2>
			</center>
			<% if not ( @url.include?('3a1') or @url.include?('3a2')) %>
				<center>
					<h2>
						<%= "1. Make molotov cocktails" %>
						<br><br>
						<%= "2. Continue fighting the goblins" %>
						<br><br>
						<%= form_for("pathfinder/a/q1/#{@user_input}/q1s1/#{@user_input_sub1}/"\
								"q1s1a/{@user_input_sub1a}/q1s1b/#{@user_input_sub1b}/q1s1c"\
								"#{@user_input_sub1c}/q1s1d/#{@user_input_sub1d}/q1s2"\
								"#{@user_input_sub2}/q1s2a/#{@user_input_sub2a}/q1s3" , method: :post) do %>
							<%= label_tag(:section_sub3a_input, "Please choose a path:") %>
							<%= text_field_tag :section_sub3a_input, @response_sub3a, maxlength:1 %>
							<%= submit_tag "Submit", :id => "submit", 'data-disable-with' => "Please wait.." %>
						<% end %>
						<br>
					</h2>
				</center>
			<% end %>
		<% elsif @user_input_sub2a == "3b" %>
			<center>
				<h2>
                                        <p class="chapter-title">The darkness lingers!</p>
                                        <br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 3b pt.1" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
					<% @articles.each do |article| %>
						<% if article.title == "quest1 section 3b pt.2" %> 
							<p>
								<%= article.text %>
							</p>
						<% end %>
					<% end %>
					<br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 3b pt.3" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 3b pt.4" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 3b pt.5" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
                                        <% @articles.each do |article| %>
                                                <% if article.title == "quest1 section 3b pt.6" %>
                                                        <p>
                                                                <%= article.text %>
                                                        </p>
                                                <% end %>
                                        <% end %>
                                        <br>
				</h2>
			</center>
			<% if not ( @url.include?('3b1') or @url.include?('3b2')) %>
				<center>
					<h2>
						<%= "1. Use beer bottle" %>
						<br><br>
						<%= "2. Use axe" %>
						<br><br>
						<%= form_for("pathfinder/a/q1/#{@user_input}/q1s1/#{@user_input_sub1}/"\
								"q1s1a/{@user_input_sub1a}/q1s1b/#{@user_input_sub1b}/q1s1c"\
								"#{@user_input_sub1c}/q1s1d/#{@user_input_sub1d}/q1s2"\
								"#{@user_input_sub2}/q1s2a/#{@user_input_sub2a}/q1s3" , method: :post) do %>
							<%= label_tag(:section_sub3b_input, "Please choose a path:") %>
							<%= text_field_tag :section_sub3b_input, @response_sub3b, maxlength:1 %>
							<%= submit_tag "Submit", :id => "submit", 'data-disable-with' => "Please wait.." %>
						<% end %>
						<br>
					</h2>
				</center>
			<% end %>
		<% end %>
	</div>
</div>
